<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>

		<!-- Favicon -->
		<link rel="icon" href="./assets/media/images/icon.png">
		<!-- Font Awesome -->
		<script src="https://use.fontawesome.com/ab2441b799.js"></script>
		<!-- Pure css -->
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<!-- Pure css grid -->
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
		<!--<![endif]-->

		<!-- Custom Style -->
		<link rel="stylesheet" href="./assets/css/style.css">
	</head>

	<body>
		<header>
		</header>

		<main>
			{{{ body }}}
		</main>

		<footer>
			&copy; Copyright 2017 Joseph Ball
			<a href="https://github.com/josephtball/News-Scraping" target="_blank"><i class="fa fa-github"></i> GitHub Repo</a>
		</footer>
		
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!-- Custom JavaScript -->
		<script type="text/javascript" src="./assets/javascript/app.js"></script>
	</body>
</html>