<nav>
	<div class="container">
		<div class="navbar">
			<a href="/" class="brand">Scraper News</a>
			<a href="/" class="nav-link">Home</a>
			<a href="/api/saved-articles" class="nav-link">Saved Articles</a>
			<div class="nav-right">
				<button id="scrape" class="button-alert" type="button"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Scrape New Articles</button>
			</div>
		</div>
	</div>
</nav>

<header>
	<div class="container">
		<div class=""></div>
		<div class="">
			<h1>Scraper News</h1>
			<hr>
			<h3>All the News that's Fit to Scrape</h3>
		</div>
	</div>
</header>

<main class="container">
	<div id="articles-div">
		
	</div>
</main>