.brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}
main {
	margin: 1em 0;
}
.article-title {
	font-size: 1.2em;
	font-weight: 500;
}

/* sticky footer */
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}